.label {
	-fx-alignment: CENTER;
	-fx-font-family: "Yu Mincho";
	-fx-text-fill: white;
	-fx-background-color: rgba(200, 200, 200, 0.5);
	-fx-padding: 10px 10px;
	-fx-background-radius: 10px;
}

#eventLabel {
	-fx-text-fill: red;
	-fx-background-color: black;
	-fx-padding: 10px 10px;
	-fx-background-radius: 10px;
}

#skiplabel {
	-fx-text-fill: lightgray;
}

#upperPane {
	-fx-background-color: rgba(200, 0, 0, 0.5);
}

#lowerPane {
	-fx-background-color: rgba(200, 0, 0, 0.5);
}

#appleLabel {
	-fx-padding: 0;
	-fx-background-color: transparent;
	-fx-background-radius: 0px;
}